<!DOCTYPE html>
<html>
<head>
    <title>Flask Plotly Example</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
</head>
<body>
    <div id="list-of-candlestick-charts">
        <h2>List of Candlestick Charts</h2>
        <ul>
            {% for kline in klines %}
                <li><a href="/charts?kline={{ kline.arg }}">{{ kline.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="candlestick-chart"></div>
    <div id="pie-chart"></div>

    <script>
        let candlestickData = JSON.parse('{{ kline_fig | safe }}');
        Plotly.newPlot('candlestick-chart', candlestickData.data, candlestickData.layout);
    
        let pieData = JSON.parse('{{ pie_chart_fig | safe }}');
        let pieChart = Plotly.newPlot('pie-chart', pieData.data, pieData.layout);
    
        // update pie chart when new data is received via websocket connection
        const socket = io.connect('http://localhost:8000/chart'); // connect to the '/chart' namespace
        socket.on('connect', function() {
            console.log('Connected to websocket');
        });
    
        socket.on('update_chart', function(data) {
            let newPieData = JSON.parse(data.chart_data);
            Plotly.react('pie-chart', newPieData.data, newPieData.layout);
        });
    </script>
    
</body>
</html>
